{% layout "layout.liquid" %} {% block content %}
<a href="/arts/new"><button>Add Artwork</button></a>
{% for art in arts %}
<article>
    <div class="item-div">
      <h3>
        {{ art.name }}
      </h3>
    <a href="/arts/{{ art._id }}">
      <img src="{{ art.img }}" />
    </a>
</article>
{% endfor %} {% endblock %}