{% layout "layout.liquid" %} {% block content %}
<link rel="stylesheet" href="/css/styles.css" />
<h1 class="welcome">Welcome to Artstagram</h1>
<div>
  <a href="/user/signup"><button>Signup</button></a>
  <a href="/user/login"><button>Login</button></a>
</div>
{% endblock %}