body {
  background-color: #0b0013;
  font-family: 'Montserrat';
}


/* START LOG IN */
/* Inspired by https://codepen.io/Devel0per95/pen/rjOpdx*/
.back-img {
  background-image: url('https://images.unsplash.com/photo-1549490349-8643362247b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
  height: 100%;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.main {
  background-color: #f1d9ff;
  width: 60%;
  height: 75%;
  margin: 20em auto;
  margin-top: 5%;
  border-radius: 1.5em;
  text-align: center;
  padding-bottom: 2%;
}

.log {
  padding-top: 40px;
  color: #65009c;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.user-log {
  width: 80%;
  color: rgb(38, 50, 56);
  font-weight: 800;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

form.form-log {
  padding-top: 5%;

}

.user-log:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

.log-submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border: 0;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 2%;
  font-size: 18px;
  margin-bottom: 2%;
}

/* END LOG IN */


.welcome {
  color: white;
}

.show-class {
  color: white;
}

.my-page-back {
  background-image: url('https://images.unsplash.com/photo-1608501821300-4f99e58bba77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
  height: 100%;
  width: 100%;
  padding-bottom: 10%;
  /* text-align: center; */
  padding-top: 5%;
}


.my-card {
  margin-left: 5%;
  border: 1px solid #ffffff;
  border-radius: 0px;
  background-color: #000000;
  color: #fff;
  height: 100%;
  width: 80%;
}


.artsa-title {
  color: #fff;
  margin-bottom: 5%;
  text-align: center;
}

.add-new {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}

.my-new-back {
  background-image: url('https://images.unsplash.com/photo-1517524285303-d6fc683dddf8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1335&q=80');
  height: 100%;
  width: 100%;
  padding-bottom: 25%;
  /* text-align: center; */
  padding-top: 5%;
}

.my-img {
  border: 1px solid #ffffff;
  border-radius: 0px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
}

.add-comment {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-show-card {
  background-color: #000000;
  color: #ffffff;
  width: 30%;
  border-radius: 0%;
}

.my-item {
  color: #ffffff;
  background-color: #000000;

}

.my-card-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.my-row {
  margin-left: 2%;
}

.center-comment {
  margin-top: 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-form-div {
  color: #ffffff;

}

.new-post-add {
  text-align: center;
}

.update-comment {
  margin-top: 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-comment {
  text-align: center;
  color: #fff;
}

.index-img {
  width: 30%;
  margin-bottom: 2%;
}

.app-name {
  color: #ffffff;
  /* font-style: italic; */
  font-weight: bold;
  font-family: 'Lobster', cursive;
  font-size: 80px;
  background-color: #13001c;
}

.app-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}