{% layout "layout.liquid" %} {% block content %}
<h1>Edit Comment</h1>
<div>
    {% for comment in post.comments %}
    {% if comment._id == commentId %}
    {{ comment.content }}
    <form action="/posts/{{ post._id }}/comments?_method=PUT" method="POST">
        <label>Comment:</label>
        <textarea name="content" placeholder="{{ comment.content }}"></textarea>
        <input type="submit" value="Update Comment">
      </form>
    {% endif %}

    {% endfor %}
</div>
{% endblock %}