{% layout "layout.liquid" %} {% block content %}
{% for post in posts %}
<article class="show-class">
    <div class="item-div">
      <h3>
        {{ post.name }}
      </h3>
    <a href="/posts/{{ post._id }}">
      <img src="{{ post.imageUrl }}.png" width='200px'/>
    </a>
</article>
{% endfor %}
<a href="/posts/"><button class="btn btn-outline-info btn-sm">Homepage</button></a>
 {% endblock %}