{% layout "layout.liquid" %} {% block content %}
<nav class="navbar bg-light my-nav">
  <form class="container-fluid justify-content-start my-nav-form">
<button class="btn btn-sm btn-outline-secondary my-btn"><a href="/posts/new">Add Artwork</a></button></a>
<button class="btn btn-sm btn-outline-secondary my-btn"><a href="/posts/feed">Feed</a></button></a>
<button class="btn btn-sm btn-outline-secondary my-btn"><a href="/user/logout">Logout</a></button></a>
</form>
</nav>
<div class="my-page-back">
  <div class="card-group my-card-group">
{% for post in posts %}
<div class="card my-card">
    <a href="/posts/{{ post._id }}">
      <img src="{{ post.imageUrl }}.png" class="card-img-top" width='100px'/>
    </a>
    <div class="card-body my-card-body">
      <h5 class="card-title my-card-title">
        {{ post.title }}
      </h5>
      <p class="card-text my-card-text">{{ post.description }}</p>
      </div>
    </div>
{% endfor %}
</div>
</div>
 {% endblock %}